.body {
	top:  0; right:  0; bottom:  0; left:  0;
	width:  100vw;
	height:  100vh;
	position:  absolute;
}

.text {
	width:  60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10vw;
	color:  #FF1C31;
	text-align: center;
	font-family: 'Digestive three', serif;
}

@media only screen and (max-width: 1000px) {
  .text {
    font-size: 17vw;
	width:  95%;
  }
}

.background {
    background: linear-gradient(45deg, #dfdcff, #ffe0e0);
    background-size: 150% 150%;
    width: 100vw;
    height:  100vh;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}