html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

@font-face {
	font-family:  'Digestive';
	src:  url(assets/DigestiveVariable.ttf) format("truetype");;

}

.body {
	top:  0; right:  0; bottom:  0; left:  0;
	width:  100vw;
	height:  100vh;
	position:  absolute;
}

.words {
  display: inline-block;
}

.words img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}



.text {
	width:  80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10vw;
	color:  #FF1C31;
	text-align: left;
	font-family: 'Digestive', serif;
	font-stretch: 100%;
	font-variation-settings: 'wdth' 500;
}

.design {
	font-variation-settings: 'wdth' 700;
}

.background {
    background: linear-gradient(-80deg, #F6E0E5, #E5E1F8);
    background-size: 300% 200%;
    width: 100vw;
    height:  100vh;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



.slidecontainer {
  max-width: 70%; /* Width of the outside container */
  max-width: 350px; /* Width of the outside container */
  margin:  30px 0 0 0;
  font-size: 16px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90%; /* Full-width */
  height: 7px; /* Specified height */
  border-radius: 100px;
  background: rgba(255,255,255,30%); /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  border-radius: 100%;
  border: 5px solid #FF1C31;
  cursor: pointer; /* Cursor on hover */
  -webkit-transition: .1s; /* 0.2 seconds transition on hover */
  transition: .1s;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  -webkit-transition: .1s; /* 0.2 seconds transition on hover */
  transition: .1s;
  box-shadow: 0px 1px 10px rgba(95, 88, 223, 0.5);
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/*///////////////////////////////////////

/*
essential styles:
these make the slideshow work
*/
#slides, #slides2, #slides3{
  position: relative;
  height:  5vw;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide, .slide2, .slide3 {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: 1;
  width:  100%;
}

#slides {
  width: 18vw;
  display: inline-block;
  margin-right: 1vw;
}

#slides2 {
  width: 17vw;
  display: inline-block;
  margin-right: 1vw;
  margin-left: 1vw;
}

#slides3 {
  width: 27vw;
  display: inline-block;
  margin-left: 0.1vw;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.slide img, .slide2 img, .slide3 img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

@media only screen and (max-width: 1000px) {
  .text {
    font-size: 17vw;
    width:  80%;
  }

  .background {
      background: linear-gradient(-80deg, #F6E0E5, #E5E1F8);
      background-size: 800% 800%;
  }

  .words {
    display: inline-block;
    height:  16vw;
  }

  .we {
    width:  23vw;
    margin-bottom: 0.7vw;
  }

  .did {
    width:  23vw;
    margin-bottom: 0.7vw;
  }

  .that {
    width: 30vw;
    margin-top: 1.75vw;
    
  }

  #slides {
    width: 30vw;
    display: inline-block;
    margin-right: 1vw;
    margin-bottom: 2vw;
  }

  #slides2 {
    width: 29vw;
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
  }

  #slides3 {
    width: 48vw;
    display: inline-block;
    margin-bottom: 2vw;
  }
}