@font-face {
    font-family: 'Digestive zero';
    src: url('Digestive-zero.woff2') format('woff2'),
        url('Digestive-zero.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

